/.env
/base.db
/Getcontact lSECURITYl.xlsx
/venv
/PyQt5-flask_desktop_app/py-to-exe-config.txt
/PyQt5-flask_desktop_app/getcontact
/PyQt5-flask_desktop_app/.venv
/PyQt5-flask_desktop_app/__pycache__
/PyQt5-flask_desktop_app/.env